/* AddTutors.module.css */

.body {
    background-image: url('/public/marvin-meyer-SYTO3xs06fU-unsplash.jpg');
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img {
    margin-top: 50px;
}

.addTutorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.addTutorForm {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 425px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    font-family:Avenir, "Open Sans", sans-serif;
}

.formInput {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family:Avenir, "Open Sans", sans-serif;
    color: #2C3E50;
    font-size: 13px;
}

.formButton {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    margin: 10px 5px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    transition: background-color 0.3s, transform 0.3s;
    animation: popIn 0.5s ease-in-out;
}
.formInput:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ee0979;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
}
.formButton:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}
